.about{
    background-color: hsl(183, 100%, 35%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.container-border{
    border: 1px solid white;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family:cursive ;
    font-weight: bold;

}

.mail:hover{
    cursor: pointer;
}